@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary: $teal-400;
$secondary: $purple-300;
$success: $green-500;
$info: $cyan-300;
$warning: $yellow-400;
$danger: $red-500;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

@import '~bootstrap/scss/bootstrap.scss';