@import "./custom.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

th {
  font-size: 16px;
}

#select, #title, #description {
  font-size: 14px;
}

.form-control:focus, .form-select:focus {
  border-color: $primary;
  box-shadow: 0 0 0 0.2rem rgba(32, 201, 151, 0.25);
}
